.cam-container {
    position: relative
}

.cam-left-arrow {
    position: absolute;
    z-index: 3;
    left: 10px;
    bottom: 30px;
    opacity: 0.5;
    border: 2px black solid;
    border-radius: 15px;
    background-color: white;
}

.cam-right-arrow {
    position: absolute;
    z-index: 3;
    right: 10px;
    bottom: 30px;
    opacity: 0.5;
    border: 2px black solid;
    border-radius: 15px;
    background-color: white;
}
.cam-container #cam-id {
    position: absolute;
    z-index: 3;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0.5;
    padding: 10px;
    border: 2px black solid;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: large;
    width: fit-content;
}